.Heading {
  margin: 25px auto;
  text-align: center;
  font-weight: 600;
  color: #393e46;
  width: 90vw;
}

.ProjectsSection {
  margin-bottom: 60px;
}

.ProjectCards {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-device-width: 845px) {
  .ProjectCards {
    padding: 20px 200px 0 200px;
  }
}
