.ProjectsSection {
  background-color: #393e46;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Heading {
  padding-top: 25px;
  text-align: center;
  font-weight: 600;
  color: #fef6fb;
}
