.ProjectCard {
  max-width: 80%;
  width: fit-content;
  padding: 10px;
  color: #393e46;
  margin: auto;
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .ProjectCard {
    border: none;
  }
}

.ProjectLink {
  text-decoration: none;
  color: #fef6fb;
  background-color: #efc15d;
  padding: 10px;
  border: 3px solid #efc15d;
  border-radius: 5%;
  cursor: pointer;
  margin: 10px;
}

.ProjectLink:hover {
  color: #393e46;
  background-color: #fef6fb03;
}

.LinkDiv {
  text-align: center;
  margin-top: 50px;
}

.ProjectImage {
  width: 100%;
}

.ProjectText {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
}

.ProjectSeparator {
  width: 250px;
  margin-top: 40px;
}
