h1,
h2,
h3 {
  font-family: "Solway", serif;
}

.Home {
  text-align: center;
  color: #393e46;
  padding: 0;
  vertical-align: middle;
  height: 85vh;
  display: table;
  width: 100%;
  margin: auto;
  background-image: url("../../assets/images/home-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.HomeContent {
  padding-top: 0;
}

.Buzzwords {
  color: #ff165d;
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
  margin: auto;
}

.Self {
  height: 150px;
  border-radius: 100%;
}

.About {
  height: 35vh;
  display: table;
}

.HomeParagraph {
  padding: 50px 20%;
  text-align: center;
  color: #393e46;
  display: table-cell;
  vertical-align: middle;
  line-height: 25px;
  font-weight: 600;
}
