.Home {
  text-align: center;
  color: #ff9a00;
  padding: 0;
  vertical-align: middle;
  height: 85vh;
  display: table;
  width: 100%;
  margin: auto;
}

.HomeContent {
  display: table-cell;
  vertical-align: middle;
}

.Buzzwords {
  color: #ff165d;
}

.Self {
  height: 150px;
  border-radius: 100%;
}

.About {
  height: 35vh;
  display: table;
}

p {
  padding: 50px 20%;
  text-align: center;
  color: black;
  display: table-cell;
  vertical-align: middle;
}
