.Contact {
  width: 90vw;
  font-family: "Solway", serif;
  margin-bottom: 30px;
  margin: 30px auto;
}

.ContactForm {
  width: 100%;
}

.InputField {
  border: 2px solid #efc15d;
  width: 95%;
  margin-bottom: 20px;
  padding: 5px;
}

.ContactSubmit {
  text-decoration: none;
  color: #fef6fb;
  background-color: #efc15d;
  padding: 10px;
  border: 3px solid #efc15d;
  border-radius: 5%;
  cursor: pointer;
  font-size: medium;
}

.ButtonDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ContactSubmit:hover {
  color: #393e46;
  background-color: #fef6fb03;
}

.MessageThanks {
  margin: 50px;
  text-align: left;
}

.imageDiv {
  text-align: center;
}

.image {
  width: 200px;
}

.Separator {
  width: 200px;
}

@media screen and (min-device-width: 845px) {
  .Contact {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .TextAndPicture {
    width: 30vw;
    text-align: right;
    margin: auto;
  }
  .image {
    width: 30vw;
  }
  .ContactForm {
    width: 40vw;
    align-self: center;
  }
}
